mixin place_piece(pos, piece)
  if piece != None
      if not piece.player_owned()
        if piece.king
          .piece.king_piece.ai_piece(id="piece_"+str(piece.id))
        else
          .piece.ai_piece(id="piece_"+str(piece.id))
      else
        if piece.king
          .piece.king_piece.player_piece(id="piece_"+str(piece.id))
        else
          .piece.player_piece(id="piece_"+str(piece.id))


.board
   - var dim = 8
   - var letters = "abcdefgh"
   - for tile in range(dim**2)
     - var tile_name = letters[tile%dim]+str(dim-int(tile/dim))
     - var pos = ((dim-1) - int(tile/dim))*8 + tile%dim
     - var piece = pieces.get(pos)
     if tile % 2 == 0
       if int(tile/dim) % 2 == 0
         //- This can't have spaces since pypugjs is stupid and won't work otherwise
         .board_tile.white(id= "board_tile_"+tile_name)
       else
         .board_tile.black(id= "board_tile_"+tile_name)
            +place_piece(pos, piece)
     else
       if int(tile/dim) % 2 == 0
         //- This can't have spaces since pypugjs is stupid and won't work otherwise
         .board_tile.black(id= "board_tile_"+tile_name)
            +place_piece(pos, piece)
       else
        .board_tile.white(id= "board_tile_"+tile_name)

