body
  padding: 0
  margin: 0

.wrapper
  display: flex

.container_flex
  padding: 5vh 0
  flex: 1

.black
  background: #444444

.white
  background: #bbbbbb

.text_center
  text-align: center

.center
  place-items: center

.container_flex h1, h3
  padding-left: 10%

.box
  margin: 0 5%
  border: black 5px solid