mixin place_piece(pos, pieces)
  - var piece = pieces[pos]
  if piece != None
      if piece.owner == "ai"
        if piece.king
          .piece.ai_piece.king_piece
        else
          .piece.ai_piece
      elif piece.owner == "player"
        if piece.king
          .piece.player_piece.king_piece
        else
          .piece.player_piece


.board
  - var dim = 8
  - for tile in range(0, dim**2)
      if tile % 2 == 0
        //-  This can't have spaces since pypugjs is stupid and won't work otherwise
        .board_tile.white(id= "board_tile_"+letters[int(tile/dim)]+str(tile%dim+1))
      else
        .board_tile.black(id= "board_tile_"+letters[int(tile/dim)]+str(tile%dim+1))

