.board
  - var dims = 8
  - for pos in range(dims, 0, -1)
    - for i in range(dims)
      if pos%2 == 0
        if i%2 == 0
          div.board-tile.white(id= "board-tile-" + letters[i] + str(pos))
        else
          div.board-tile.black(id= "board-tile-" + letters[i] + str(pos))
      else
        if i % 2 == 0
          div.board-tile.black(id= "board-tile-" + letters[i] + str(pos))
            .piece.red
        else
          div.board-tile.white(id= "board-tile-" + letters[i] + str(pos))
