mixin place_piece(pos, pieces)
  - var piece = pieces[pos]
  if piece != None
      if piece.owner == "ai"
        if piece.king
          .piece.ai_piece.king_piece
        else
          .piece.ai_piece
      elif piece.owner == "player"
        if piece.king
          .piece.player_piece.king_piece
        else
          .piece.player_piece


.board
  - var dims = 8
  - for row in range(dims, 0, -1)
    - for column in range(dims)
      if row % 2 == 0
        if column % 2 == 0
          div.board_tile.white(id= "board_tile_" + letters[column] + str(pos))
            +place_piece(letters[column] + str(row), pieces)
        else
          div.board_tile.black(id= "board_tile_" + letters[column] + str(pos))
      else
        if column % 2 == 0
          div.board_tile.black(id= "board_tile_" + letters[column] + str(pos))
        else
          div.board_tile.white(id= "board_tile_" + letters[column] + str(pos))

