!!! 5
html(lang="en")
  head
    title Checkers
    link(rel="stylesheet", href="/static/css/checkers.css", type="text/css")
  body
    .wrapper
      .container-flex
      .container-flex
            .board-layout
              include board.pug
      .container-flex
